 .u-section-1 {
  background-image: url("images/2b790cbed5cb757f931d10fb4360b5d51441736bbbdcc818c3de8d651d2456d28c2c8fc666e76aaa7f9b03083d4e5cca0e6043758ea292b0f63b63_1280.jpg");
  min-height: 448px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 369px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 283px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 212px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 133px;
  }
} .u-section-2 {
  background-image: url("images/cca13299549d5efa090fd393a6ee41acaa375d423f6555aa58abc394286479eb3711da71c698d200b8ca37bf7f49bf1ebcc560ab99793536b3d0b2_1280.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 714px;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 532px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 113px;
  width: 113px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 9px auto 0;
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: 23px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 35px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 69px auto 0;
  padding: 2px 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 113px;
  width: 113px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 9px auto 0;
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 23px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 35px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 69px auto 0;
  padding: 2px 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 113px;
  width: 113px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 9px auto 0;
  padding: 0;
}

.u-section-2 .u-text-5 {
  margin: 23px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  margin: 35px 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 69px auto 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 320px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 34px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 34px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 34px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 735px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 533px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 17px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 518px;
}

.u-section-3 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 121px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 518px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 500px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 606px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-4 .u-form-1 {
  margin-top: 30px;
  margin-bottom: 60px;
  height: 367px;
}

.u-section-4 .u-input-1 {
  text-transform: uppercase;
}

.u-section-4 .u-input-2 {
  text-transform: uppercase;
}

.u-section-4 .u-form-group-3 {
  margin-left: 0;
}

.u-section-4 .u-input-3 {
  text-transform: uppercase;
}

.u-section-4 .u-input-4 {
  text-transform: uppercase;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}